* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
}

.container {
  max-width: 39rem;
  height: auto;
  padding: 1rem;
  margin: 2rem auto;
}

.container h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #f6f6f6;
  font-weight: bold;
}

form {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;

  text-align: center;
}

.card {
  display: none;
}

.card.active {
  display: block;
  text-align: center;
  border-radius: 1%;
}

.weather-info {
  position: relative;
  bottom: 5rem;
  font-size: 2rem;
}

.icon {
  background: #f6f6f6;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 2rem auto;
}

.weather-info span {
  font-size: 3rem;
  font-weight: bold;
}
